<!DOCTYPE html>
<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Página Principal - Gym</title>

            <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/css/estilos.css}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
            <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
            <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js}"></script>
            <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
        </head>
        <body>
            <div class="header" th:fragment="header">
                <h1>Logo Gym COSTA RICA</h1>
                <nav>
                    <ul>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Tienda en Línea</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Horarios</a></li>
                        <li><a href="#">Membresías</a></li>
                        <li><a href="#">Progreso</a></li>
                        <li class="dropdown user-icon-container">
                            <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-person-circle user-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/editDatos">Actualizar Datos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/login">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="footer" th:fragment="footer">
                <p>&copy; 2024 Logo Gym. Todos los derechos reservados.</p>
                <div>
                    <a href="#"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
                    <a href="#"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
                </div>
            </div>
        </body>
    </html>
</body>
</html>
