<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Actualizar Perfil - Gym</title>

        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
        <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js}"></script>
        <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="header">
            <h1>Logo Gym COSTA RICA</h1>
            <nav>
                <ul>
                    <li class="dropdown user-icon-container">
                        <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-person-circle user-icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/update/{idUser}(idUser=${user.id})}">Actualizar Datos</a>
                            <a class="dropdown-item" href="/principal">Menú Principal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <section style="background-color: #403A39;">
            <h2 style="color: #ffffff">Editar Perfil de miembro</h2>
            <div class="row justify-content-center">
                <form th:action="@{/guardar}" 
                      th:object="${user}"
                      method="POST" 
                      class="was-validated" 
                      enctype="multipart/form-data"
                      style="margin-top: 20px;">
                    <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                    <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                    <div style="background-color: #fdd835;">
                        <div class="position-absolute top-50 start-50 translate-middle"></div>

                        <div class="input-group mb-5">
                            <span class="input-group-text">Nombre de Usuario</span>
                            <input class="form-control" type="text" 
                                   name="nombreUsuario" th:field="*{nombreUsuario}"
                                   required="true"/>
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text">Género</span>
                            <select class="form-select" name="genero" th:field="*{genero}">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text">Correo Electrónico</span>
                            <input class="form-control" type="text" 
                                   name="email" th:field="*{email}"
                                   readonly="readonly"/>
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text">Contraseña</span>
                            <input class="form-control" type="password" 
                                   name="password" th:field="*{password}"
                                   readonly="readonly"/>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">Dirección</span>
                            <input class="form-control" type="text" 
                                   name="direccion" th:field="*{direccion}"
                                   required="true"/>

                            <input class="form-control" type="text" 
                                   name="ciudad" th:field="*{ciudad}"
                                   required="true"/>

                            <input class="form-control" type="text" 
                                   name="pais" th:field="*{pais}"
                                   required="true"/>

                            <input class="form-control" type="text" 
                                   name="zipCodigo" th:field="*{zipCodigo}"
                                   required="true"/>
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text">Teléfono</span>
                            <input class="form-control" type="number" 
                                   name="telefono" th:field="*{telefono}"
                                   required="true" />
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text">Fecha de Nacimiento</span>
                            <input class="form-control" type="date" 
                                   name="fechaNacimiento" th:field="*{fechaNacimiento}"
                                   required="false"/>
                        </div>

                        <div class="mb-3">
                            <label for="imagen">Imagen</label>
                            <input class="form-control" type="file" name="imagenFile"
                                   onchange="readURL(this);" />
                            <img id="blah" th:src="@{${user.rutaImagen}}" alt="your image" height="200"/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Actualizar</button>
                    </div>
                </form>
            </div>
        </section>
        <div class="footer">
            <p>&copy; 2024 Logo Gym. Todos los derechos reservados.</p>
            <div>
                <a href="#"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
                <a href="#"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
            </div>
        </div>
    </body>
</html>

