<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña - Gym</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="container">
        <h2>Recuperar Contraseña</h2>
        <p>Por favor, ingrese su correo electrónico. Recibirá un enlace para restablecer su contraseña.</p>
        <form th:action="@{/forgot-password}" method="post">
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>


