<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Principal - Gym</title>
    
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Página Principal</h1>
        <p>Has iniciado sesión correctamente.</p>
    </div>
    
    <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    
    <script th:src="@{/js/rutinas.js}"></script>
</body>
</html>

