<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Progreso Cliente - Gym</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">

        <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body class="bg-dark text-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-warning mt-4 text-center">Mi Seguimiento de Progreso</h1>
                <table class="table table-dark table-hover mt-4">
                    <thead class="thead-light">
                        <tr>
                            <th>Fecha</th>
                            <th>Peso (kg)</th>
                            <th>IMC</th>
                            <th>Altura (cm)</th>
                            <th>Objetivo Cumplido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="progreso : ${progresos}">
                            <td th:text="${progreso.fecha}"></td>
                            <td th:text="${progreso.peso}"></td>
                            <td th:text="${progreso.imc}"></td>
                            <td th:text="${progreso.altura}"></td>
                            <td th:text="${progreso.objetivoCumplido ? 'Sí' : 'No'}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mt-4">
                    <a href="/principal" class="btn btn-warning">Regresar a la Página Principal</a>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>
